PLUGIN_DISCORD_BOT_TOKEN="your-bot-token"

S3_URL="your-s3-url" # supports all s3-compatible apis via bun s3
S3_ACCESS_KEY="your-s3-access-key"
S3_SECRET="your-s3-secret"

TURSO_DATABASE_URL="your-turso-db-url"
TURSO_AUTH_TOKEN="your-turso-auth-token"
